* {
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper {width: 920px; margin: 0 auto}
ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    border-radius: 10px;
}

ul li {
    height: 55px;
    cursor: pointer;
    position: relative;
    padding: 17px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 10px;
    margin-top: 5px;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: #5aa85d;
    color: #fff;
    text-decoration: line-through;
}
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 17px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
.close {
    height: 55px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    border-radius: 10px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.header {
    background-color: #000;
    padding: 30px 40px;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    border-radius: 10px;
}

#addBtn {
    padding: 10px;
    width: 20%;
    background: #d9d9d9;
    color: #555;
    float: left;
    margin-left: 5%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

#addBtn:hover {
    background-color: #bbb;
}
.readyBtn{
    padding: 10px;
    width: 20%;
    background: #d9d9d9;
    color: #555;
    float: left;
    margin-left: 5%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    margin-top: 10px;
}
.delBtn{
    padding: 10px;
    width: 20%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    margin-top: 10px;
}
